{% load url from future %}
<h3> Please Login to request leave</h3>
<form method="POST" action="/login/">
{% csrf_token %}

{{ form.as_p }}
<table>
  <tr><input type="submit" value="Login" /> </tr>
  </table>
</form>
