
{% include "logingreeting.html" %}
<a href="{{DYNAMIC_URL}}/check_login">Login </a>
<br/>
<a href="{{DYNAMIC_URL}}/requestleave">Request Leave </a>
<br/>
<a href="{{DYNAMIC_URL}}/grantleave">Check Leave </a>


