{% load url from future %}

{% if user.is_authenticated %}
{% include "logingreeting.html" %}
{% endif %}
<p>Leave Left : {{total_leave}}</p> 
<ul>Casual Leave : {{emp_leave.casual}} </ul>
<ul>Sick Leave: {{emp_leave.sick}} </ul>
<ul>Privilege: {{emp_leave.privilege}} </ul>
<ul>Paternity: {{emp_leave.paternity}}</ul>
{{error}}
<form method="POST" action="/requestleave/">
	{% csrf_token %}
	{{form.as_p}}	
<table>
  <tr><input type="submit" value="Send" /> </tr>
  </table>
</form>
