{% include "logingreeting.html" %}
{{message}}
<br>
<table>
	
<tr>
<td>Leave Type : {{emp_leave_stat.leave_type}}</td>
</tr>

<tr>
	<td>No Of Days : {{emp_leave_stat.days}}</td>
</tr>

<tr>
<td>Application Date: {{emp_leave_stat.application_date}}</td>
</tr>
</table>
