{% include "logingreeting.html" %}
<br/>
<a href="{{DYNAMIC_URL}}/requestleave">Request Leave </a>
<br/>
<br/>
<a href="{{DYNAMIC_URL}}/leave_status">Leave Status</a>
<br/>
<br/>
<a href="{{DYNAMIC_URL}}/leaveapplication">Leave Application</a>
