<p> List Of Leave Application From Subordinates </p>
<table>
{% for empleaverecord in empleaverecords %}

	<tr>
		<form action = /leave_allocated/ method = "post">
			{% csrf_token %}
		<input type = "hidden" name = "employeeid" value = "{{empleaverecord.employee}}"/>
		<td>Employee <input type = "text" name = "employee" value = "{{empleaverecord.name}}" readonly = "readonly"/></td>
		<td>Start Date<input type = "text" name = "start_date" value = "{{empleaverecord.start_date}}" readonly = "readonly"/></td>
		<td>End Date <input type = "text" name = "end_date" value = "{{empleaverecord.end_date}}" readonly = "readonly" /></td>
		<td>Leave Type <input type = "text" name = "leave_type" value = "{{empleaverecord.leave_type}}" readonly = "readonly"/></td>
		<td>Reason <input type = "text" name = "reason" value = "{{empleaverecord.reason}}" readonly = "readonly"/></td>
		<td>Days <input type = "text" name = "days" value = "{{empleaverecord.days}}"/></td>
		<td> <input type = "radio" name = "grant" >Grant</td>
		<td><input type = "radio" name = "decline">Decline</td>
		<td><input type = "submit" name = "submit" value = "Submit">  </td>
	</form>
	</tr>
{% endfor %}
</table>
