{% load url from future %}
<h3> Please enter the Article , To find the closly matched tags </h3>
<form method = "POST" action = "/tagarticle/">
    {% csrf_token %}
    {{form.as_p}}
	<tr><input type = "submit" value = "Click to tags"></tr>
</form>

